<div id="intro">
	<div id="eula">
		<div class="blue_fade_bg" style="padding: 2px;">STAR SNP Data Release Agreement <a href="#" onclick="show_sections2('eula_contents'); return false;" id='sec-text-eula_contents'>[hide]</a></div>
		<div id="sec-eula_contents">
		<p>The SNP data for this tool was produced by the STAR project. The STAR project is a specific targeted research project funded by European Union through Framework Programme 6. Full details regarding the STAR project are available at <a href="http://www.snp-star.eu">http://www.snp-star.eu</a></p>
		<p>All of the data is made freely available before scientific publication with the following understanding:
			<ul>
				<li>The data may be freely downloaded, used in analyses, and repackaged in databases.</li>
				<li>Users are free to use the data in scientific papers analysing particular genes and regions if the provider of these data is properly acknowledged. See the STAR consortium website listed above for credit and contact information.</li>
				<li>The centres producing the data reserve the right to publish the initial large-scale analyses of the data set, including large-scale identification of regions of evolutionary conservation, haplotype structure, and other large-scale genomic analysis. Large-scale refers to regions with size on the order of a chromosome (that is, 30 Mb or more).</li>
				<li>This policy is in accordance with, and with the understandings in the <a href="http://www.wellcome.ac.uk/doc_wtd003208.html">Fort Lauderdale meeting discussing Community Resource Projects</a>.</li>
				<li>Any redistribution of the data should carry this notice.</li>
			</ul>
		</p>
		</div>
	</div>
	<p>To help us manage improvements to the tool, please take the time to use our tracking system and report any <a href="http://rubyforge.org/tracker/?func=add&group_id=3650&atid=14032">Bugs here</a>, and <a href="http://rubyforge.org/tracker/?func=add&group_id=3650&atid=14035">Feature requests here</a>.</p>
</div>