
<% 
if marker_list_item.marker_type == 'Snp' && marker_list_item.sequence != nil
	marker_list_item.sequence[40] =  "<span class=\"allele\">[#{marker_list_item.target_allele}]</span>"
end
%>
<tr class="marker_detail">
	<td><%= link_to_remote( "<span id=\"marker_label_#{marker_list_item.id}\">[+]</span>",
		                   :update => "snp_div_#{marker_list_item.id}",
		                   :url => { :action => :get_highres_gbrowse, :id => marker_list_item.id },
						   :complete => visual_effect(:highlight, "snp_div_#{marker_list_item.id}", :duration => 1.0),

						   :before => "Element.show('spinner_#{marker_list_item.id}'); if (Element.visible('snp_div_#{marker_list_item.id}')) { Element.hide('snp_div_#{marker_list_item.id}'); Element.hide('spinner_#{marker_list_item.id}'); document.getElementById('marker_label_#{marker_list_item.id}').innerHTML='[+]'; return false;}",
					       :success => "Element.hide('spinner_#{marker_list_item.id}'); Element.show('snp_div_#{marker_list_item.id}'); document.getElementById('marker_label_#{marker_list_item.id}').innerHTML='[-]';"
						) %>
				<%= image_tag("common/spinner.gif",
		              :align => 'absmiddle',
		              :border=> 0,
		              :id => "spinner_#{marker_list_item.id}",
		              :style=>"display: none;" ) %>
		</span> <a href="http://www.ensembl.org/Rattus_norvegicus/snpview?panel_individual=off;snp=<%= marker_list_item.symbol %>" target="blank" title="Open ENSEMBL SNP report in new window"><%= marker_list_item.symbol %></a>&nbsp;
		</td>
		<td>Chr <%= marker_list_item.map_positions[0].chromosome_label %>:<%= marker_list_item.map_positions[0].start.to_i %> &nbsp;</td>
		<td><%= marker_list_item.target_allele %>&nbsp;</td>
		<td class="sequence"><%= marker_list_item.sequence %></td>
		<% @strain_sorted.each do |str| %>
			<td><%= genos[marker_list_item][str.strain_id] %></td>
		<% end %>
</tr>

<tr class="marker_genome">
	<td colspan="5" valign="top">
		<div id="snp_div_<%= marker_list_item.id %>" style="display: none; background-color: #eee; margin-bottom: 5px">
		</div>
	</td>
</tr>